In [28]:
import random

In [29]:
numlist = random.sample(range(0, 100), 15)
numlist

[27, 29, 76, 21, 59, 32, 16, 94, 7, 89, 28, 65, 42, 44, 9]

In [30]:
doubled_numlist = list(map(lambda num: num*2, numlist))

In [31]:
doubled_numlist

[54, 58, 152, 42, 118, 64, 32, 188, 14, 178, 56, 130, 84, 88, 18]

In [32]:
even_numlist = list(filter(lambda num: num % 2 == 0, numlist))
even_numlist

[76, 32, 16, 94, 28, 42, 44]

In [8]:
from collections import namedtuple

In [9]:
Person = namedtuple('Person', ['name', 'age', 'city'])

In [12]:
man = Person('Janis', 23, 'Riga')
print(man.city)
print(man.name)
print(man.age)

Riga
Janis
23

In [13]:
text = 'Count the frequency of each word in a given text and display the top 5 most common words. Merge two counters together and calculate the total count of each element.'

In [15]:
from collections import Counter

text_to_list = text.split()
text_counter = Counter(text_to_list)
top_5 = text_counter.most_common(5)

In [16]:
print(top_5)

[('the', 3), ('of', 2), ('each', 2), ('and', 2), ('Count', 1)]

In [6]:
from collections import deque
deq = deque()

In [9]:
deq.append("p")
deq.append("j")
deq.append("k")
deq.append("e")

In [10]:
deq

deque(['p', 'p', 'p', 'j', 'k', 'e'])

In [11]:
deq.pop()

'e'

In [12]:
deq.popleft()

'p'

In [13]:
from collections import defaultdict

In [25]:
dict_list = defaultdict(str,{'street':'Aspazijas bulvaris', 'city':'Riga', 'zip_code':'LV1001', 'street':'Raina bulvaris', 'city':'Riga', 'zip_code':'LV1002', 'street':'Upes prospekts', 'city':'Ogre'})

In [23]:
dict_list = map(lambda elem : defaultdict(str, elem), dict_list)

In [27]:
print(dict_list)

defaultdict(<class 'str'>, {'street': 'Upes prospekts', 'city': 'Ogre', 'zip_code': 'LV1001'})

In [33]:
from functools import reduce

In [34]:
max_num = reduce(max, numlist)

In [36]:
print(numlist)
print(max_num)

[27, 29, 76, 21, 59, 32, 16, 94, 7, 89, 28, 65, 42, 44, 9]
94

In [41]:
sum_num = reduce(lambda x, y : x + y, numlist)

In [44]:
print(sum_num)

638

In [45]:
pip install requests

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Collecting requests
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.0.3-py3-none-any.whl (123 kB)
Collecting certifi>=2017.4.17
  Downloading certifi-2023.5.7-py3-none-any.whl (156 kB)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp37-cp37m-win_amd64.whl (94 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Installing collected packages: urllib3, certifi, charset-normalizer, idna, requests
Successfully installed certifi-2023.5.7 charset-normalizer-3.1.0 idna-3.4 requests-2.31.0 urllib3-2.0.3

WARNING: You are using pip version 20.1.1; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Program Files (x86)\Microsoft Visual Studio\Shared\Python37_64\python.exe -m pip install --upgrade pip' command.

In [47]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
Successfully installed pip-23.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import sqlalchemy
from sqlalchemy import create_engine

In [5]:
from sqlalchemy import text

In [6]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pymysql

In [8]:
engine = create_engine("mysql+pymysql://root:Lisenok2026!!@localhost/python_sgt")

In [9]:
with engine.begin() as con:
    pass

In [11]:
import requests

url = "https://apidojo-booking-v1.p.rapidapi.com/locations/auto-complete"

querystring = {"text":"all","languagecode":"en-us"}

headers = {
	"X-RapidAPI-Key": "c36f679e86mshd695777e23bdec5p1d4d5fjsn59334987285f",
	"X-RapidAPI-Host": "apidojo-booking-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

api_data = response.json()

In [23]:
api_data

[{'latitude': 40.60221,
  'region': 'Pennsylvania',
  'type': 'ci',
  'dest_id': '20105403',
  'city_ufi': None,
  'cc1': 'us',
  'lc': 'en',
  'timezone': 'America/New_York',
  'rtl': 0,
  'nr_hotels': 27,
  'hotels': 27,
  'image_url': 'https://cf.bstatic.com/xdata/images/city/150x150/917424.jpg?k=53c38265538b7ecae30d1cab1c384a97192a256601c75a1a33081f78ea8544d4&o=',
  'country': 'United States',
  'b_max_los_data': {'max_allowed_los': 90,
   'is_fullon': 0,
   'has_extended_los': 1,
   'experiment': 'long_stays_android_extend_los_2',
   'extended_los': 90,
   'default_los': 45},
  'city_name': 'Allentown',
  'longitude': -75.47128,
  'name': 'Allentown',
  'dest_type': 'city',
  'label': 'Allentown, Pennsylvania, United States'},
 {'city_ufi': -1655011,
  'dest_id': '344061',
  'type': 'ho',
  'region': 'Quintana Roo',
  'latitude': 21.077282,
  'label': 'Grand Oasis Cancun - All Inclusive, Cancún, Quintana Roo, Mexico',
  'name': 'Grand Oasis Cancun - All Inclusive',
  'dest_type': 'hotel',
  'b_max_los_data': {'extended_los': 90,
   'default_los': 45,
   'max_allowed_los': 90,
   'has_extended_los': 1,
   'experiment': 'long_stays_android_extend_los_2',
   'is_fullon': 0},
  'longitude': -86.77557,
  'city_name': 'Cancún',
  'country': 'Mexico',
  'image_url': 'https://cf.bstatic.com/xdata/images/hotel/150x150/283906507.jpg?k=366d20b7acb97868f9cfe9820a2bd75a5b5da136be768fe902f817c60fde82ab&o=',
  'hotels': 1,
  'rtl': 0,
  'timezone': 'America/Cancun',
  'nr_hotels': 1,
  'lc': 'en',
  'cc1': 'mx'},
 {'hotels': 2432,
  'lc': 'en',
  'cc1': 'de',
  'rtl': 0,
  'nr_hotels': 2432,
  'b_max_los_data': {'extended_los': 90,
   'default_los': 45,
   'max_allowed_los': 90,
   'is_fullon': 0,
   'has_extended_los': 1,
   'experiment': 'long_stays_android_extend_los_2'},
  'city_name': '',
  'longitude': 10.316228,
  'dest_type': 'region',
  'name': 'Allgäu',
  'label': 'Allgäu, Germany',
  'image_url': 'https://cf.bstatic.com/xdata/images/region/150x150/68347.jpg?k=43011764dbdefa9ac5b00c0bae2ea337e8ce4d7cbb44444a94febba9eb99867e&o=',
  'country': 'Germany',
  'region': 'Allgäu',
  'latitude': 47.590843,
  'dest_id': '1478',
  'city_ufi': None,
  'type': 're'},
 {'type': 'ci',
  'city_ufi': None,
  'dest_id': '20126233',
  'latitude': 33.1031,
  'region': 'Texas',
  'country': 'United States',
  'image_url': 'https://cf.bstatic.com/xdata/images/city/150x150/805843.jpg?k=17fca4643bc5cf88ebd5bc74f32f64dba4497ace253682a894a31daf6c9cf1de&o=',
  'label': 'Allen, Texas, United States',
  'dest_type': 'city',
  'name': 'Allen',
  'b_max_los_data': {'is_fullon': 0,
   'experiment': 'long_stays_android_extend_los_2',
   'has_extended_los': 1,
   'max_allowed_los': 90,
   'default_los': 45,
   'extended_los': 90},
  'longitude': -96.6703,
  'city_name': 'Allen',
  'nr_hotels': 36,
  'timezone': 'America/Chicago',
  'rtl': 0,
  'cc1': 'us',
  'lc': 'en',
  'hotels': 36},
 {'region': 'South Sinai',
  'latitude': 28.037916,
  'dest_id': '1276215',
  'city_ufi': -302053,
  'type': 'ho',
  'hotels': 1,
  'cc1': 'eg',
  'lc': 'en',
  'timezone': 'Africa/Cairo',
  'rtl': 0,
  'nr_hotels': 1,
  'name': 'Rixos Premium Seagate - Ultra All Inclusive',
  'dest_type': 'hotel',
  'longitude': 34.431873,
  'b_max_los_data': {'extended_los': 90,
   'default_los': 45,
   'max_allowed_los': 90,
   'has_extended_los': 1,
   'experiment': 'long_stays_android_extend_los_2',
   'is_fullon': 0},
  'city_name': 'Sharm El Sheikh',
  'label': 'Rixos Premium Seagate - Ultra All Inclusive, Sharm El Sheikh, South Sinai, Egypt',
  'image_url': 'https://cf.bstatic.com/xdata/images/hotel/150x150/279139055.jpg?k=252dec8131e02931c32ab21374a1608190d6fb478d43aeaad2953dcbd5eca386&o=',
  'country': 'Egypt'}]

In [12]:
import pandas as pd

In [13]:
hotels = pd.DataFrame(api_data)

In [25]:
hotels

,latitude,region,type,dest_id,city_ufi,cc1,lc,timezone,rtl,nr_hotels,hotels,image_url,country,b_max_los_data,city_name,longitude,name,dest_type,label
0,40.602210,Pennsylvania,ci,20105403,NaN,us,en,America/New_York,0,27,27,https://cf.bstatic.com/xdata/images/city/150x1...,United States,"{'max_allowed_los': 90, 'is_fullon': 0, 'has_e...",Allentown,-75.471280,Allentown,city,"Allentown, Pennsylvania, United States"
1,21.077282,Quintana Roo,ho,344061,-1655011.0,mx,en,America/Cancun,0,1,1,https://cf.bstatic.com/xdata/images/hotel/150x...,Mexico,"{'extended_los': 90, 'default_los': 45, 'max_a...",Cancún,-86.775570,Grand Oasis Cancun - All Inclusive,hotel,"Grand Oasis Cancun - All Inclusive, Cancún, Qu..."
2,47.590843,Allgäu,re,1478,NaN,de,en,NaN,0,2432,2432,https://cf.bstatic.com/xdata/images/region/150...,Germany,"{'extended_los': 90, 'default_los': 45, 'max_a...",,10.316228,Allgäu,region,"Allgäu, Germany"
3,33.103100,Texas,ci,20126233,NaN,us,en,America/Chicago,0,36,36,https://cf.bstatic.com/xdata/images/city/150x1...,United States,"{'is_fullon': 0, 'experiment': 'long_stays_and...",Allen,-96.670300,Allen,city,"Allen, Texas, United States"
4,28.037916,South Sinai,ho,1276215,-302053.0,eg,en,Africa/Cairo,0,1,1,https://cf.bstatic.com/xdata/images/hotel/150x...,Egypt,"{'extended_los': 90, 'default_los': 45, 'max_a...",Sharm El Sheikh,34.431873,Rixos Premium Seagate - Ultra All Inclusive,hotel,"Rixos Premium Seagate - Ultra All Inclusive, S..."

In [14]:
def get_hotels_address(address):
    hotel_name = ""
    try:
        hotel_name = address["name"]
    except:
        pass
    city = ""
    try:
        city = address["city_name"]
    except:
        pass
    region = ""
    try:
        region = address["region"]
    except:
        pass
    country = ""
    try:
        country = address["country"]
    except:
        pass
    latitude = ""
    try:
        latitude = address["latitude"]
    except:
        pass
    longitude = ""
    try:
        longitude = address["longitude"]
    except:
        pass
    return hotel_name, city, region, country, latitude, longitude

hotel_address = list(map(get_hotels_address, api_data))

In [15]:
address_df = pd.DataFrame(hotel_address, columns=["hotel_name", "city", "region", "country", "latitude", "longitude"])

In [16]:
address_df.to_sql(name="hotels_address", con=engine, index=False,if_exists='append')