In [1]:
import random

In [2]:
numlist = random.sample(range(0, 100), 15)
numlist

[74, 3, 54, 88, 50, 62, 92, 39, 67, 41, 75, 14, 20, 15, 32]

In [3]:
doubled_numlist = list(map(lambda num: num*2, numlist))

In [4]:
doubled_numlist

[148, 6, 108, 176, 100, 124, 184, 78, 134, 82, 150, 28, 40, 30, 64]

In [5]:
even_numlist = list(filter(lambda num: num % 2 == 0, numlist))
even_numlist

[74, 54, 88, 50, 62, 92, 14, 20, 32]

In [6]:
from collections import namedtuple

In [7]:
Person = namedtuple('Person', ['name', 'age', 'city'])

In [8]:
man = Person('Janis', 23, 'Riga')
print(man.city)
print(man.name)
print(man.age)

Riga
Janis
23

In [9]:
text = 'Count the frequency of each word in a given text and display the top 5 most common words. Merge two counters together and calculate the total count of each element.'

In [10]:
from collections import Counter

text_to_list = text.split()
text_counter = Counter(text_to_list)
top_5 = text_counter.most_common(5)

In [11]:
print(top_5)

[('the', 3), ('of', 2), ('each', 2), ('and', 2), ('Count', 1)]

In [12]:
from collections import deque
deq = deque()

In [13]:
deq.append("p")
deq.append("j")
deq.append("k")
deq.append("e")

In [14]:
deq

deque(['p', 'j', 'k', 'e'])

In [15]:
deq.pop()

'e'

In [16]:
deq.popleft()

'p'

In [17]:
from collections import defaultdict

In [18]:
dict_list = defaultdict(str,{'street':'Aspazijas bulvaris', 'city':'Riga', 'zip_code':'LV1001', 'street':'Raina bulvaris', 'city':'Riga', 'zip_code':'LV1002', 'street':'Upes prospekts', 'city':'Ogre'})

In [19]:
dict_list = map(lambda elem : defaultdict(str, elem), dict_list)

In [20]:
print(dict_list)

<map object at 0x00000190DCE89708>

In [21]:
from functools import reduce

In [22]:
max_num = reduce(max, numlist)

In [23]:
print(numlist)
print(max_num)

[74, 3, 54, 88, 50, 62, 92, 39, 67, 41, 75, 14, 20, 15, 32]
92

In [24]:
sum_num = reduce(lambda x, y : x + y, numlist)

In [25]:
print(sum_num)

726

In [26]:
pip install requests

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: requests in c:\users\д\appdata\roaming\python\python37\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\д\appdata\roaming\python\python37\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\д\appdata\roaming\python\python37\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\д\appdata\roaming\python\python37\site-packages (from requests) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\д\appdata\roaming\python\python37\site-packages (from requests) (2023.5.7)

In [27]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\д\appdata\roaming\python\python37\site-packages (23.1.2)
Note: you may need to restart the kernel to use updated packages.

In [28]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: sqlalchemy in c:\users\д\appdata\roaming\python\python37\site-packages (2.0.17)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\д\appdata\roaming\python\python37\site-packages (from sqlalchemy) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\д\appdata\roaming\python\python37\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: importlib-metadata in c:\users\д\appdata\roaming\python\python37\site-packages (from sqlalchemy) (6.7.0)
Requirement already satisfied: zipp>=0.5 in c:\users\д\appdata\roaming\python\python37\site-packages (from importlib-metadata->sqlalchemy) (3.15.0)

In [2]:
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
from sqlalchemy import text

In [31]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\д\appdata\roaming\python\python37\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymysql

In [5]:
engine = create_engine("mysql+pymysql://root:Lisenok2026!!@localhost/python_sgt")

In [6]:
with engine.begin() as con:
    pass

In [26]:
import requests

url = "https://apidojo-booking-v1.p.rapidapi.com/locations/auto-complete"

querystring = {"text":"all","languagecode":"en-us"}

headers = {
	"X-RapidAPI-Key": "c36f679e86mshd695777e23bdec5p1d4d5fjsn59334987285f",
	"X-RapidAPI-Host": "apidojo-booking-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

api_data = response.json()

In [27]:
api_data

[{'latitude': 40.60221,
  'city_ufi': None,
  'image_url': 'https://cf.bstatic.com/xdata/images/city/150x150/917424.jpg?k=53c38265538b7ecae30d1cab1c384a97192a256601c75a1a33081f78ea8544d4&o=',
  'country': 'United States',
  'dest_id': '20105403',
  'hotels': 27,
  'name': 'Allentown',
  'longitude': -75.47128,
  'cc1': 'us',
  'lc': 'en',
  'rtl': 0,
  'label': 'Allentown, Pennsylvania, United States',
  'dest_type': 'city',
  'nr_hotels': 27,
  'type': 'ci',
  'b_max_los_data': {'experiment': 'long_stays_android_extend_los_2',
   'max_allowed_los': 90,
   'has_extended_los': 1,
   'extended_los': 90,
   'is_fullon': 0,
   'default_los': 45},
  'region': 'Pennsylvania',
  'timezone': 'America/New_York',
  'city_name': 'Allentown'},
 {'type': 'ho',
  'b_max_los_data': {'max_allowed_los': 90,
   'experiment': 'long_stays_android_extend_los_2',
   'has_extended_los': 1,
   'extended_los': 90,
   'is_fullon': 0,
   'default_los': 45},
  'region': 'Quintana Roo',
  'nr_hotels': 1,
  'dest_type': 'hotel',
  'label': 'Grand Oasis Cancun - All Inclusive, Cancún, Quintana Roo, Mexico',
  'city_name': 'Cancún',
  'timezone': 'America/Cancun',
  'name': 'Grand Oasis Cancun - All Inclusive',
  'hotels': 1,
  'rtl': 0,
  'lc': 'en',
  'cc1': 'mx',
  'longitude': -86.77557,
  'dest_id': '344061',
  'image_url': 'https://cf.bstatic.com/xdata/images/hotel/150x150/283906507.jpg?k=366d20b7acb97868f9cfe9820a2bd75a5b5da136be768fe902f817c60fde82ab&o=',
  'country': 'Mexico',
  'latitude': 21.077282,
  'city_ufi': -1655011},
 {'longitude': 10.316228,
  'cc1': 'de',
  'lc': 'en',
  'rtl': 0,
  'hotels': 2432,
  'name': 'Allgäu',
  'city_name': '',
  'label': 'Allgäu, Germany',
  'nr_hotels': 2432,
  'dest_type': 'region',
  'b_max_los_data': {'default_los': 45,
   'experiment': 'long_stays_android_extend_los_2',
   'max_allowed_los': 90,
   'has_extended_los': 1,
   'extended_los': 90,
   'is_fullon': 0},
  'region': 'Allgäu',
  'type': 're',
  'city_ufi': None,
  'latitude': 47.590843,
  'image_url': 'https://cf.bstatic.com/xdata/images/region/150x150/68347.jpg?k=43011764dbdefa9ac5b00c0bae2ea337e8ce4d7cbb44444a94febba9eb99867e&o=',
  'country': 'Germany',
  'dest_id': '1478'},
 {'longitude': -96.6703,
  'cc1': 'us',
  'rtl': 0,
  'lc': 'en',
  'hotels': 36,
  'name': 'Allen',
  'timezone': 'America/Chicago',
  'city_name': 'Allen',
  'label': 'Allen, Texas, United States',
  'nr_hotels': 36,
  'dest_type': 'city',
  'type': 'ci',
  'b_max_los_data': {'has_extended_los': 1,
   'extended_los': 90,
   'is_fullon': 0,
   'max_allowed_los': 90,
   'experiment': 'long_stays_android_extend_los_2',
   'default_los': 45},
  'region': 'Texas',
  'city_ufi': None,
  'latitude': 33.1031,
  'image_url': 'https://cf.bstatic.com/xdata/images/city/150x150/805843.jpg?k=17fca4643bc5cf88ebd5bc74f32f64dba4497ace253682a894a31daf6c9cf1de&o=',
  'country': 'United States',
  'dest_id': '20126233'},
 {'dest_id': '1276215',
  'image_url': 'https://cf.bstatic.com/xdata/images/hotel/150x150/279139055.jpg?k=252dec8131e02931c32ab21374a1608190d6fb478d43aeaad2953dcbd5eca386&o=',
  'country': 'Egypt',
  'city_ufi': -302053,
  'latitude': 28.037916,
  'city_name': 'Sharm El Sheikh',
  'timezone': 'Africa/Cairo',
  'b_max_los_data': {'default_los': 45,
   'has_extended_los': 1,
   'is_fullon': 0,
   'extended_los': 90,
   'max_allowed_los': 90,
   'experiment': 'long_stays_android_extend_los_2'},
  'type': 'ho',
  'region': 'South Sinai',
  'nr_hotels': 1,
  'dest_type': 'hotel',
  'label': 'Rixos Premium Seagate - Ultra All Inclusive, Sharm El Sheikh, South Sinai, Egypt',
  'rtl': 0,
  'lc': 'en',
  'longitude': 34.431873,
  'cc1': 'eg',
  'hotels': 1,
  'name': 'Rixos Premium Seagate - Ultra All Inclusive'}]

In [9]:
import pandas as pd

In [23]:
hotels = pd.DataFrame(api_data)

In [24]:
hotels

,dest_type,hotels,longitude,dest_id,name,type,country,nr_hotels,lc,latitude,cc1,b_max_los_data,label,image_url,city_ufi,region,rtl,city_name,timezone
0,country,191638,-98.263200,224,United States,co,United States,191638,en,38.970800,us,"{'is_fullon': 0, 'max_allowed_los': 90, 'exten...",United States,https://cf.bstatic.com/xdata/images/country/15...,None,,0,,NaN
1,city,2643,-78.876335,20117718,Myrtle Beach,ci,United States,2643,en,33.695225,us,"{'is_fullon': 0, 'max_allowed_los': 90, 'exper...","Myrtle Beach, South Carolina, United States",https://cf.bstatic.com/xdata/images/city/150x1...,None,South Carolina,0,Myrtle Beach,America/New_York
2,city,950,-83.518265,20122200,Gatlinburg,ci,United States,950,en,35.711250,us,"{'default_los': 45, 'extended_los': 90, 'exper...","Gatlinburg, Tennessee, United States",https://cf.bstatic.com/xdata/images/city/150x1...,None,Tennessee,0,Gatlinburg,America/Kentucky/Monticello
3,city,957,-83.554400,20124359,Pigeon Forge,ci,United States,957,en,35.788300,us,"{'extended_los': 90, 'experiment': 'long_stays...","Pigeon Forge, Tennessee, United States",https://cf.bstatic.com/xdata/images/city/150x1...,None,Tennessee,0,Pigeon Forge,America/New_York
4,city,15,-81.783300,20029830,Statesboro,ci,United States,15,en,32.448600,us,"{'is_fullon': 0, 'max_allowed_los': 90, 'has_e...","Statesboro, Georgia, United States",https://cf.bstatic.com/xdata/images/city/150x1...,None,Georgia,0,Statesboro,America/New_York

In [12]:
def get_hotels_address(address):
    hotel_name = ""
    try:
        hotel_name = address["name"]
    except:
        pass
    city = ""
    try:
        city = address["city_name"]
    except:
        pass
    region = ""
    try:
        region = address["region"]
    except:
        pass
    country = ""
    try:
        country = address["country"]
    except:
        pass
    latitude = ""
    try:
        latitude = address["latitude"]
    except:
        pass
    longitude = ""
    try:
        longitude = address["longitude"]
    except:
        pass
    return hotel_name, city, region, country, latitude, longitude

hotel_address = list(map(get_hotels_address, api_data))

In [13]:
address_df = pd.DataFrame(hotel_address, columns=["hotel_name", "city", "region", "country", "latitude", "longitude"])

In [14]:
address_df.to_sql(name="hotels_address", con=engine, index=False,if_exists='append')

In [18]:
with engine.begin() as con:
    hotels = pd.read_sql(text("SELECT * FROM hotels_address"), con)

In [19]:
hotels

,id,hotel_name,city,region,country,latitude,longitude
0,1,Allentown,Allentown,Pennsylvania,United States,41.0,-75.0
1,2,Grand Oasis Cancun - All Inclusive,Cancún,Quintana Roo,Mexico,21.0,-87.0
2,3,Allgäu,,Allgäu,Germany,48.0,10.0
3,4,Allen,Allen,Texas,United States,33.0,-97.0
4,5,Rixos Premium Seagate - Ultra All Inclusive,Sharm El Sheikh,South Sinai,Egypt,28.0,34.0
5,6,Allentown,Allentown,Pennsylvania,United States,41.0,-75.0
6,7,Grand Oasis Cancun - All Inclusive,Cancún,Quintana Roo,Mexico,21.0,-87.0
7,8,Allgäu,,Allgäu,Germany,48.0,10.0
8,9,Allen,Allen,Texas,United States,33.0,-97.0
9,10,Rixos Premium Seagate - Ultra All Inclusive,Sharm El Sheikh,South Sinai,Egypt,28.0,34.0

In [44]:
with engine.begin() as con:
    hotels_lat = pd.read_sql(text("SELECT * FROM hotels_address WHERE latitude BETWEEN 20 AND 35"), con)

In [45]:
hotels_lat

,id,hotel_name,city,region,country,latitude,longitude
0,2,Grand Oasis Cancun - All Inclusive,Cancún,Quintana Roo,Mexico,21.0,-87.0
1,4,Allen,Allen,Texas,United States,33.0,-97.0
2,5,Rixos Premium Seagate - Ultra All Inclusive,Sharm El Sheikh,South Sinai,Egypt,28.0,34.0
3,7,Grand Oasis Cancun - All Inclusive,Cancún,Quintana Roo,Mexico,21.0,-87.0
4,9,Allen,Allen,Texas,United States,33.0,-97.0
5,10,Rixos Premium Seagate - Ultra All Inclusive,Sharm El Sheikh,South Sinai,Egypt,28.0,34.0

In [59]:

url = "https://apidojo-booking-v1.p.rapidapi.com/currency/get-exchange-rates"

querystring = {"base_currency":"USD","languagecode":"en-us"}

headers = {
	"X-RapidAPI-Key": "c36f679e86mshd695777e23bdec5p1d4d5fjsn59334987285f",
	"X-RapidAPI-Host": "apidojo-booking-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

currency_res = response.json()

In [88]:
df_cur = pd.DataFrame(currency_res)

In [89]:
df_cur

,base_currency_date,exchange_rates,base_currency
0,2023-06-26,"{'currency': 'AED', 'exchange_rate_buy': '3.67...",USD
1,2023-06-26,"{'currency': 'AFN', 'exchange_rate_buy': '85.9...",USD
2,2023-06-26,"{'exchange_rate_buy': '98.16002985', 'currency...",USD
3,2023-06-26,"{'currency': 'AMD', 'exchange_rate_buy': '386....",USD
4,2023-06-26,"{'exchange_rate_buy': '1.79000001', 'currency'...",USD
...,...,...,...
156,2023-06-26,"{'currency': 'XPF', 'exchange_rate_buy': '109....",USD
157,2023-06-26,"{'exchange_rate_buy': '250.30016929', 'currenc...",USD
158,2023-06-26,"{'currency': 'ZAR', 'exchange_rate_buy': '18.6...",USD
159,2023-06-26,"{'exchange_rate_buy': '18267.72239936', 'curre...",USD
160,2023-06-26,"{'exchange_rate_buy': '17.04579883', 'currency...",USD

In [156]:
currency_res

{'base_currency_date': '2023-06-26',
 'exchange_rates': [{'currency': 'AED', 'exchange_rate_buy': '3.67305000'},
  {'currency': 'AFN', 'exchange_rate_buy': '85.94890646'},
  {'exchange_rate_buy': '98.16002985', 'currency': 'ALL'},
  {'currency': 'AMD', 'exchange_rate_buy': '386.66983452'},
  {'exchange_rate_buy': '1.79000001', 'currency': 'ANG'},
  {'currency': 'AOA', 'exchange_rate_buy': '800.00201599'},
  {'currency': 'ARS', 'exchange_rate_buy': '254.62397260'},
  {'exchange_rate_buy': '1.49756646', 'currency': 'AUD'},
  {'currency': 'AWG', 'exchange_rate_buy': '1.79000001'},
  {'exchange_rate_buy': '1.70250002', 'currency': 'AZN'},
  {'currency': 'BAM', 'exchange_rate_buy': '1.79285000'},
  {'exchange_rate_buy': '2.00000002', 'currency': 'BBD'},
  {'exchange_rate_buy': '108.18003092', 'currency': 'BDT'},
  {'currency': 'BGN', 'exchange_rate_buy': '1.79290001'},
  {'currency': 'BHD', 'exchange_rate_buy': '0.37700000'},
  {'exchange_rate_buy': '2839.49543103', 'currency': 'BIF'},
  {'exchange_rate_buy': '1.00000000', 'currency': 'BMD'},
  {'currency': 'BND', 'exchange_rate_buy': '1.35380000'},
  {'currency': 'BOB', 'exchange_rate_buy': '6.90999999'},
  {'exchange_rate_buy': '4.77719999', 'currency': 'BRL'},
  {'exchange_rate_buy': '1.00000000', 'currency': 'BSD'},
  {'currency': 'BTN', 'exchange_rate_buy': '82.03878493'},
  {'currency': 'BWP', 'exchange_rate_buy': '13.42281802'},
  {'currency': 'BYN', 'exchange_rate_buy': '2.50000003'},
  {'currency': 'BYR', 'exchange_rate_buy': '27322.63219076'},
  {'exchange_rate_buy': '2.00000002', 'currency': 'BZD'},
  {'exchange_rate_buy': '1.31570000', 'currency': 'CAD'},
  {'currency': 'CDF', 'exchange_rate_buy': '2374.98849652'},
  {'exchange_rate_buy': '0.89495001', 'currency': 'CHF'},
  {'exchange_rate_buy': '806.10138326', 'currency': 'CLP'},
  {'currency': 'CNY', 'exchange_rate_buy': '7.22880010'},
  {'currency': 'COP', 'exchange_rate_buy': '4180.00141359'},
  {'currency': 'CRC', 'exchange_rate_buy': '544.59889734'},
  {'currency': 'CUP', 'exchange_rate_buy': '24.00000183'},
  {'exchange_rate_buy': '101.56110789', 'currency': 'CVE'},
  {'currency': 'CYP', 'exchange_rate_buy': '0.53651144'},
  {'exchange_rate_buy': '21.68484930', 'currency': 'CZK'},
  {'exchange_rate_buy': '177.96322016', 'currency': 'DJF'},
  {'exchange_rate_buy': '6.82605021', 'currency': 'DKK'},
  {'exchange_rate_buy': '55.25000075', 'currency': 'DOP'},
  {'exchange_rate_buy': '135.59167671', 'currency': 'DZD'},
  {'exchange_rate_buy': '14.34280900', 'currency': 'EEK'},
  {'exchange_rate_buy': '30.89999508', 'currency': 'EGP'},
  {'currency': 'ETB', 'exchange_rate_buy': '54.82334630'},
  {'currency': 'EUR', 'exchange_rate_buy': '0.91667431'},
  {'exchange_rate_buy': '2.24735000', 'currency': 'FJD'},
  {'currency': 'GBP', 'exchange_rate_buy': '0.78678207'},
  {'exchange_rate_buy': '2.62500001', 'currency': 'GEL'},
  {'currency': 'GHS', 'exchange_rate_buy': '11.49999994'},
  {'currency': 'GMD', 'exchange_rate_buy': '59.54998194'},
  {'currency': 'GNF', 'exchange_rate_buy': '8655.21962043'},
  {'exchange_rate_buy': '312.35707568', 'currency': 'GRD'},
  {'exchange_rate_buy': '7.83449974', 'currency': 'GTQ'},
  {'currency': 'GYD', 'exchange_rate_buy': '210.59997749'},
  {'currency': 'HKD', 'exchange_rate_buy': '7.82985020'},
  {'exchange_rate_buy': '24.72000273', 'currency': 'HNL'},
  {'exchange_rate_buy': '6.90665024', 'currency': 'HRK'},
  {'exchange_rate_buy': '137.84638277', 'currency': 'HTG'},
  {'exchange_rate_buy': '338.31238028', 'currency': 'HUF'},
  {'currency': 'IDR', 'exchange_rate_buy': '15015.14021294'},
  {'exchange_rate_buy': '3.63380001', 'currency': 'ILS'},
  {'currency': 'INR', 'exchange_rate_buy': '82.03878493'},
  {'exchange_rate_buy': '1179.12365259', 'currency': 'IQD'},
  {'currency': 'IRR', 'exchange_rate_buy': '36711.02563076'},
  {'currency': 'ISK', 'exchange_rate_buy': '136.50005510'},
  {'currency': 'JMD', 'exchange_rate_buy': '154.19767023'},
  {'currency': 'JOD', 'exchange_rate_buy': '0.71005000'},
  {'currency': 'JPY', 'exchange_rate_buy': '143.54503858'},
  {'currency': 'KES', 'exchange_rate_buy': '140.45010718'},
  {'currency': 'KGS', 'exchange_rate_buy': '87.32310645'},
  {'currency': 'KHR', 'exchange_rate_buy': '4115.07591129'},
  {'exchange_rate_buy': '450.97498832', 'currency': 'KMF'},
  {'currency': 'KRW', 'exchange_rate_buy': '1306.45522697'},
  {'exchange_rate_buy': '0.30725000', 'currency': 'KWD'},
  {'currency': 'KYD', 'exchange_rate_buy': '0.82000001'},
  {'exchange_rate_buy': '450.10031916', 'currency': 'KZT'},
  {'exchange_rate_buy': '18947.38135593', 'currency': 'LAK'},
  {'currency': 'LBP', 'exchange_rate_buy': '15010.22285901'},
  {'currency': 'LKR', 'exchange_rate_buy': '306.50008025'},
  {'exchange_rate_buy': '178.04064537', 'currency': 'LRD'},
  {'exchange_rate_buy': '18.63875167', 'currency': 'LSL'},
  {'exchange_rate_buy': '3.16511468', 'currency': 'LTL'},
  {'currency': 'LVL', 'exchange_rate_buy': '0.64427037'},
  {'exchange_rate_buy': '4.80099992', 'currency': 'LYD'},
  {'currency': 'MAD', 'exchange_rate_buy': '9.94329991'},
  {'exchange_rate_buy': '18.16499857', 'currency': 'MDL'},
  {'currency': 'MGA', 'exchange_rate_buy': '4499.89843405'},
  {'exchange_rate_buy': '56.42499795', 'currency': 'MKD'},
  {'currency': 'MMK', 'exchange_rate_buy': '2100.00758287'},
  {'currency': 'MNT', 'exchange_rate_buy': '3453.02410819'},
  {'currency': 'MOP', 'exchange_rate_buy': '8.06474987'},
  {'currency': 'MRO', 'exchange_rate_buy': '354.89433013'},
  {'exchange_rate_buy': '0.39355000', 'currency': 'MTL'},
  {'exchange_rate_buy': '45.45000384', 'currency': 'MUR'},
  {'exchange_rate_buy': '15.40999968', 'currency': 'MVR'},
  {'exchange_rate_buy': '1053.44278704', 'currency': 'MWK'},
  {'currency': 'MXN', 'exchange_rate_buy': '17.15400110'},
  {'currency': 'MYR', 'exchange_rate_buy': '4.67350000'},
  {'currency': 'MZN', 'exchange_rate_buy': '63.90000383'},
  {'exchange_rate_buy': '18.63875167', 'currency': 'NAD'},
  {'currency': 'NGN', 'exchange_rate_buy': '760.49836563'},
  {'currency': 'NIO', 'exchange_rate_buy': '36.54999779'},
  {'exchange_rate_buy': '10.70445022', 'currency': 'NOK'},
  {'currency': 'NPR', 'exchange_rate_buy': '131.26193841'},
  {'currency': 'NZD', 'exchange_rate_buy': '1.62311314'},
  {'exchange_rate_buy': '0.38500000', 'currency': 'OMR'},
  {'currency': 'PAB', 'exchange_rate_buy': '1.00000000'},
  {'exchange_rate_buy': '3.63754999', 'currency': 'PEN'},
  {'currency': 'PGK', 'exchange_rate_buy': '3.56240000'},
  {'exchange_rate_buy': '55.70598605', 'currency': 'PHP'},
  {'currency': 'PKR', 'exchange_rate_buy': '286.50011564'},
  {'exchange_rate_buy': '4.06775006', 'currency': 'PLN'},
  {'exchange_rate_buy': '7273.46116004', 'currency': 'PYG'},
  {'currency': 'QAR', 'exchange_rate_buy': '3.64000002'},
  {'exchange_rate_buy': '45335.03016815', 'currency': 'ROL'},
  {'exchange_rate_buy': '4.54325011', 'currency': 'RON'},
  {'currency': 'RSD', 'exchange_rate_buy': '107.48503645'},
  {'currency': 'RUB', 'exchange_rate_buy': '85.12498038'},
  {'exchange_rate_buy': '1187.49424826', 'currency': 'RWF'},
  {'currency': 'SAR', 'exchange_rate_buy': '3.75050006'},
  {'exchange_rate_buy': '8.35073058', 'currency': 'SBD'},
  {'exchange_rate_buy': '14.07569966', 'currency': 'SCR'},
  {'exchange_rate_buy': '587.10366670', 'currency': 'SDG'},
  {'currency': 'SEK', 'exchange_rate_buy': '10.70149976'},
  {'exchange_rate_buy': '1.35380000', 'currency': 'SGD'},
  {'currency': 'SIT', 'exchange_rate_buy': '219.67162401'},
  {'currency': 'SKK', 'exchange_rate_buy': '27.61572101'},
  {'exchange_rate_buy': '18073.23166404', 'currency': 'SLL'},
  {'exchange_rate_buy': '569.43012529', 'currency': 'SOS'},
  {'currency': 'SRD', 'exchange_rate_buy': '38.23650443'},
  {'exchange_rate_buy': '21961.53114518', 'currency': 'STD'},
  {'currency': 'SVC', 'exchange_rate_buy': '8.74999986'},
  {'currency': 'SYP', 'exchange_rate_buy': '212.49022012'},
  {'exchange_rate_buy': '18.63875167', 'currency': 'SZL'},
  {'currency': 'THB', 'exchange_rate_buy': '35.24000589'},
  {'exchange_rate_buy': '10.90559950', 'currency': 'TJS'},
  {'currency': 'TMM', 'exchange_rate_buy': '16305.12824618'},
  {'exchange_rate_buy': '3.09250002', 'currency': 'TND'},
  {'exchange_rate_buy': '2.34796900', 'currency': 'TOP'},
  {'currency': 'TRY', 'exchange_rate_buy': '25.63500099'},
  {'currency': 'TTD', 'exchange_rate_buy': '6.77244980'},
  {'currency': 'TWD', 'exchange_rate_buy': '31.02049738'},
  {'currency': 'TZS', 'exchange_rate_buy': '2405.02245835'},
  {'currency': 'UAH', 'exchange_rate_buy': '36.93214520'},
  {'currency': 'UGX', 'exchange_rate_buy': '3679.94504215'},
  {'exchange_rate_buy': '37.81999825', 'currency': 'UYU'},
  {'exchange_rate_buy': '11488.58641434', 'currency': 'UZS'},
  {'currency': 'VEB', 'exchange_rate_buy': '91667431.00000000'},
  {'exchange_rate_buy': '261160.77207977', 'currency': 'VEF'},
  {'exchange_rate_buy': '27.57509845', 'currency': 'VES'},
  {'currency': 'VND', 'exchange_rate_buy': '23540.68592707'},
  {'exchange_rate_buy': '119.36500647', 'currency': 'VUV'},
  {'currency': 'WST', 'exchange_rate_buy': '2.73672690'},
  {'exchange_rate_buy': '601.29899835', 'currency': 'XAF'},
  {'currency': 'XCD', 'exchange_rate_buy': '2.70000003'},
  {'currency': 'XOF', 'exchange_rate_buy': '601.29899835'},
  {'currency': 'XPF', 'exchange_rate_buy': '109.38834248'},
  {'exchange_rate_buy': '250.30016929', 'currency': 'YER'},
  {'currency': 'ZAR', 'exchange_rate_buy': '18.63875167'},
  {'exchange_rate_buy': '18267.72239936', 'currency': 'ZMK'},
  {'exchange_rate_buy': '17.04579883', 'currency': 'ZMW'}],
 'base_currency': 'USD'}

In [163]:
currency_date = list()
currency_list = list()
exchange_rate = list()
base_currency = list()

currency_date.append(currency_res["base_currency_date"]) #base_currency_date and base_currency have only one value, there is no need in loop
base_currency.append(currency_res["base_currency"])

for i in currency_res['exchange_rates']:
    currency_list.append(i['currency'])
    exchange_rate.append(i["exchange_rate_buy"])

In [166]:
data = {"currency":currency_list, "exchange_rate_buy":exchange_rate}

In [167]:
exchange_df = pd.DataFrame(data)

In [169]:
exchange_df['base_currency_date'] = '2023-06-26'

In [171]:
exchange_df['base_currency'] = 'USD'

In [172]:
exchange_df

    currency exchange_rate_buy base_currency_date base_currency
0        AED        3.67305000         2023-06-26           USD
1        AFN       85.94890646         2023-06-26           USD
2        ALL       98.16002985         2023-06-26           USD
3        AMD      386.66983452         2023-06-26           USD
4        ANG        1.79000001         2023-06-26           USD
..       ...               ...                ...           ...
156      XPF      109.38834248         2023-06-26           USD
157      YER      250.30016929         2023-06-26           USD
158      ZAR       18.63875167         2023-06-26           USD
159      ZMK    18267.72239936         2023-06-26           USD
160      ZMW       17.04579883         2023-06-26           USD

[161 rows x 4 columns]

In [173]:
exchange_df.to_sql(name="booking_currency", con=engine, index=False, if_exists="append")

In [174]:
with engine.begin() as con:
    cur_exc = pd.read_sql(text("SELECT * FROM booking_currency"), con)

In [175]:
cur_exc

      id base_currency_date exchange_rate_buy base_currency currency
0      1                                                        None
1      2                                                        None
2      3                                                        None
3      4                                                        None
4      5                                                        None
..   ...                ...               ...           ...      ...
165  166         2023-06-26      109.38834248           USD      XPF
166  167         2023-06-26      250.30016929           USD      YER
167  168         2023-06-26       18.63875167           USD      ZAR
168  169         2023-06-26    18267.72239936           USD      ZMK
169  170         2023-06-26       17.04579883           USD      ZMW

[170 rows x 5 columns]

In [181]:
with engine.begin() as con:
    cur_exc = pd.read_sql(text("SELECT * FROM booking_currency WHERE currency != 'None' AND currency != ''"), con)

In [182]:
cur_exc

      id base_currency_date exchange_rate_buy base_currency currency
0     10         2023-06-26        3.67305000           USD      AED
1     11         2023-06-26       85.94890646           USD      AFN
2     12         2023-06-26       98.16002985           USD      ALL
3     13         2023-06-26      386.66983452           USD      AMD
4     14         2023-06-26        1.79000001           USD      ANG
..   ...                ...               ...           ...      ...
156  166         2023-06-26      109.38834248           USD      XPF
157  167         2023-06-26      250.30016929           USD      YER
158  168         2023-06-26       18.63875167           USD      ZAR
159  169         2023-06-26    18267.72239936           USD      ZMK
160  170         2023-06-26       17.04579883           USD      ZMW

[161 rows x 5 columns]